@font-face {
	font-family: "ristorante";
	src:url("f/ristorante.eot");
	src:url("f/ristorante.eot?#iefix") format("embedded-opentype"),
	url("f/ristorante.woff") format("woff"),
	url("f/ristorante.ttf") format("truetype"),
	url("f/ristorante.svg#ristorante") format("svg");
	font-weight: normal;
	font-style: normal;
}